<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Numeric_List_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Numeric_List_Generator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Numeric_List_Generator.Properties.Settings>
            <setting name="systemStayOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="systemMinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="systemEnableVisualStyle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="systemEnableStatusbarSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="systemEnableStatusbarLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="systemEnableStatusbarTimespan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="systemEnableStatusbarLIM" serializeAs="String">
                <value>True</value>
            </setting>
        </Numeric_List_Generator.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Numeric_List_Generator.Properties.Settings>
            <setting name="userStayOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userMinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userEnableVisualStyle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userEnableStatusbarSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userEnableStatusbarLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userEnableStatusbarTimespan" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="userEnableStatusbarLIM" serializeAs="String">
                <value>True</value>
            </setting>
        </Numeric_List_Generator.Properties.Settings>
    </applicationSettings>
</configuration>